In [1]:
import pandas as pd

In [23]:
student_df = pd.DataFrame({'name':['chuck', 'alyssa', 'michael', 'bobby', 'june'], 
                           "score": [45, 67, 89, 90, 57], 
                           'location': ['texas', 'alabama', 'maine', 'utah', 'arizona']
                          })

In [24]:
student_df

      name  score location
0    chuck     45    texas
1   alyssa     67  alabama
2  michael     89    maine
3    bobby     90     utah
4     june     57  arizona

In [18]:
#student_df.set_index('name', inplace=True)
#student_df

In [25]:
student_df.columns

Index(['name', 'score', 'location'], dtype='object')

In [26]:
student_df.set_index('name', inplace=True)

In [27]:
student_df

         score location
name
chuck       45    texas
alyssa      67  alabama
michael     89    maine
bobby       90     utah
june        57  arizona